.login {
    background-color: #070c26;
    background-image: url('/static/images/bg.png');
    background-size: cover;
}

.px-18 {
    padding-left: 72px !important;
    padding-right: 72px !important;
}
.py-12 {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
}
.p-4 {
    padding: 16px !important;
}
.p-12 {
    padding: 48px !important;
}
.h-8 {
    min-height: 32px !important;
}
.h-6 {
    min-height: 24px !important;
}
.h-4 {
    min-height: 16px !important;
}
.h-3 {
    min-height: 12px !important;
}
body {
  font-family: 'Inter', sans-serif !important;
}

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

li {
    list-style: none !important;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

.w-5 {
    max-width: 20px !important;
}
.w-300 {
    max-width: 1200px !important;
}
.w-75 {
    max-width: 300px !important;
}
.h-2 {
    min-height: 8px !important;
}
.h-3 {
    min-height: 12px !important;
}

body {
    font-family: 'Inter', sans-serif;
}

.wrapper {
    display:flex;
    overflow: hidden;
    max-height:100vh !important;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow-y: auto;
    padding:48px;
    transition: all 0.35s ease-in-out;
    background-color: #f8fafc;
}

#sidebar{
    width:70px;
    min-width: 70px;
    z-index:1000;
    transition: all .25s ease-in-out;
    display:flex;
    flex-direction:column;
    background-color: #0f172a
}

#sidebar.expand{
    width:260px;
    min-width: 260px;
}

.btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem !important;
}

.btn i {
    font-size: 1.5rem;
    color: #ffffff;
}

#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}
#sidebar:not(.expand) #notif-btn {
    display: none;
}
#sidebar:not(.expand) .sidebar-footer p {
    display: none;
}
#sidebar:not(.expand) .sidebar-footer a {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto
}

a.sidebar-link {
    padding: 0.625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border: 3px solid transparent;
}

.sidebar-link.active {
  background: #2b4c7e;
  color: #fff;
  font-weight: 600;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255,255,255, .075);
    border-left: 3px solid #3b82f6;
}

.sidebar-item {
    position: relative;
}

.sidebar-footer {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    gap: 1rem;
    align-items: center;
    padding: 1.5rem 1rem;
    border-top: 1px solid rgba(255,255,255, 1);
}

p {
    margin-bottom: 0 !important;
}

.logout-link {
    border: 3px solid transparent;
    white-space: nowrap;
    font-size: 0.8rem;
    padding: 0 0.5rem;
}
.logout-link:hover {
    color: gray;
    border: 3px solid #3b82f6;
}

.course-card {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.2rem;
}

.difficulty-badge {
    display: flex;
    flex-direction: row;
    background-color: #f1f5f9;
    border-radius: 0.375rem;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid #cbd5e1;
}
.course-title {
    font-size: 1.5rem;
    font-weight: 600;
}
.course-price {
    font-size: 1.2rem;
    font-weight: 600;
}
.course-list {
padding:8px;
    gap: 24px;
}

.dif-list {
    display: flex;
    gap: 16px;
    border-radius: 0.5rem;
    border: 2px solid transparent;
}
.dif-card {
    display:flex
    flex-direction: column;
    align-items: center;
    min-width: 180px;
    padding: 24px 50px 16px 24px;
    background-color: #fff;
    border-radius: 0.5rem;
    border: 2px solid #e2e8f0;
}
.color-badge {
    margin:6px;
    width: 35px;
    border-radius: 0.375rem;
}

.dif-card:hover {
    border: 2px solid #3b82f6;
    cursor: pointer;
}
.dif-card.active {
    border: 2px solid #3b82f6;
}

.course-info-card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px;
    background-color: #fff;
    border-radius: 0.5rem;
    border: 1px solid #e2e8f0;
}
.btn-hide-selected {
    border: none;
    border-radius: 0.375rem;
    padding: 12px 24px;
    font-size: 0.875rem;
    font-weight: 500;
}
.course-info-card .btn-basic {
    min-width: 160px;

    background-color:transparent;
    border-radius: 0.375rem;
    padding: 12px 24px;
    font-size: 0.875rem;
    font-weight: 500;
}

#view-details.btn-basic:hover {
    background-color: #FBFBFB;
    color: black;
    cursor: pointer;
}

#enroll-course.btn-basic:hover {
    background-color: #3b82f6;
    color: #fff;
    cursor: pointer;
}

.backdrop {
    display: hidden;
}

.backdrop.show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}