{% extends '/layout/base.html' %}

{% block content %}
<body>
<div class="wrapper" style="background-color:#f8fafc;">
    <div class="main invoice">
        <div class="d-flex flex-row ps-3 pb-5 gap-2 align-items-center">
            <a href="#" onclick="window.close()">
                <img src="{{ url_for('static', filename='images/arrow-left.png') }}" width="20"
                     height="20"
                     class="mb-1"
                />
            </a>
            <p class="opacity-50">Quay về</p>
        </div>
        <div class="d-flex flex-row">
            <div class="d-flex flex-column invoice-left-section">
                <div class="d-flex flex-column invoice-box">
                    <p class="fs-3 fw-bold">Chi tiết</p>
                    <hr class="mb-4 mt-2">

                    <div class="invoice-course-list">

                        <div class="invoice-course-item p-3">
                            <div class="d-flex flex-column w-100 gap-1">
                                <div class="d-flex flex-row align-items-center">
                                    <p class="fs-5 fw-bold">{{ course.name }}</p>
                                    <img src="{{ url_for('static', filename='images/tag.png') }}" width="20"
                                         height="20"
                                         class="ms-auto opacity-75"/>
                                </div>
                                <p class="opacity-75">{{ course.level.value }}</p>
                                <p class="opacity-75">{{ class_ }}</p>
                                <div class="d-flex flex-row align-items-center">
                                    <img src="{{ url_for('static', filename='images/user.png') }}" width="18"
                                         height="18"
                                         class="opacity-50"
                                    />
                                    <div style="width:8px;"></div>
                                    <p>{{ class_.instructor.name }}</p>

                                    <div style="width:8px;"></div>
                                    <p class="fw-bold ms-auto">{{ "{:,.0f}".format(course.price) }} VNĐ</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div style="width:96px;"></div>

            <div class="invoice-box invoice-right-section">
                <div class="d-flex flex-column">
                    <p class="fs-3 fw-bold">Tổng quan</p>
                    <hr class="mb-4 mt-2">


                    <div class="d-flex flex-row gap-2">
                        <label class="payment-method">
                            <input type="radio" name="payment_method" value="paypal"/>
                            <img src="{{ url_for('static', filename='images/paypal.png') }}" width="60" height="auto"/>
                        </label>
                        <label class="payment-method">
                            <input type="radio" name="payment_method" value="credit_card"/>
                            <img src="{{ url_for('static', filename='images/paypal.png') }}" width="60"
                                 height="auto"/>
                        </label>
                    </div>


                    <div class="h-3"></div>

                    <div class="d-flex flex-row">
                        <p class="opacity-50">Tổng cộng</p>
                        <p class="ms-auto">{{ "{:,.0f}".format(course.price) }} VNĐ</p>
                    </div>
                    <button class="btn btn-primary mt-3">Thanh toán</button>
                </div>
            </div>

        </div>
    </div>
</div>


</body>
{% endblock %}